# Ignore the main executable
main

# Ignore all files in the obj directory
obj/

# You can also ignore other common files and directories, like:
.vscode/

# ignore pdf
*.pdf

#ignore parameters file
parameters.dat

# ignore .gitignore file
.gitignore

#ignore test
test/

#ignore vtk_files folder
vtk_files/
